@charset "utf-8";
/* CSS Document */
@contentColor: #f5f8fa;
@headerColor: #fff;//#1ec09f;
@contentFontColor: #5c5c5c;
@text1Color: #4c4c4c;
@text2Color: #219cff;
@fontColor: #FFF;
@headerFont: 3.2em;
@contentFont: 28px;

header{
	width:100%;
	height:45px;
	position: relative;
  text-align:center;
  // display: block;
	line-height: 50px;
	border-bottom:1px solid #F1F1F1;
	// font-size: 2.75em;
	background-color: @headerColor;
	font-size: 2.5em;
  color:#3F95E5;//rgb(63, 149, 230);
  overflow: hidden;
	.logo{
		display:inline-block;
		width: 104px;
		height:35px;
		margin-top: 5px;
		text-align:center;
		background: url("../img/logo.png") no-repeat center;
		background-size: 100%;
	}

	.btn-back {
		float: left;
		.gt-icon {
			width: 10px;
			height: 17px;
			display: inline-block;
			background-image: url(../img/lt_icon.jpg);
			background-size: 100% 100%;
			margin-left: 15px;
		}
	}
	.home {
		float: right;
		.home-icon {
			width: 20px;
			height: 17px;
			display: inline-block;
			background-image: url(../img/home_icon.jpg);
			background-size: 100% 100%;
			margin-right: 15px;
		}
	}

}

/*footer start*/
  footer{
    width: 100%;
    margin-bottom:0px;
    .footer-con{
       width: 100%;
       height: 55px;
       line-height: 55px;
       list-style: none;
       padding: 0px;
       margin:0px;
       font-size: 2.5em;
       border-bottom:1px solid #E1E1E1;
       li{
         height:55px;
				 -webkit-flex:0 1 auto;//flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。
				 flex:0 1 auto;
         a{
           color:#B2B2B2;
         }
       }
			//  .flex-cell{
		  //    -webkit-flex:0 1 auto;//flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。
		  //    flex:0 1 auto;
		  //}
    }
    .flex-box{
      display:-webkit-flex; /* Safari,Chrome */
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
			-webkit-justify-content: space-around;//设置对齐方式，即:每个项目两侧的间隔相等,且项目之间的间隔比项目与边框的间隔大一倍。
      justify-content: space-around;//设置对齐方式，即:每个项目两侧的间隔相等,且项目之间的间隔比项目与边框的间隔大一倍。
    }
		h5{
			width: 100%;
			height: 45px;
			line-height: 45px;
			color:#B2B2B2;
			font-size: 2.2em;
			font-weight:normal;
			text-align: center;
		}
		section{
			width:100%;
			height: 55px;
			background-color:#0888EE;
			color:#fff;
			aside{
				width:60%;
				margin-left: 3%;
        height: 55px;
				display: inline-block;
				img{
					width: 36px;
					height: 36px;
					float: left;
					margin-top:10px;
				}
				p{
					float: left;
					margin-top:8px;
					margin-left:10px;
					font-size: 1.2em;
					strong{
						font-size:2.8em;
						font-weight: bold;
						a{
              color:#fff;
						}
					}
				}
			}
			.qrcode{
				display: inline-block;
				height: 55px;
				img{
					width: 36px;
					height: 36px;
					float: left;
					margin-top:10px;
				}
				p{
					float: left;
					font-size: 1.5em;
					margin-top:10px;
					line-height: 18px;
					margin-left:15px;
				}
			}
		}
  }
 /*footer end*/
